body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #d84c4c;
    color: white;
    padding: 10px 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a .icon {
    margin-right: 10px;
}

.content {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
    overflow-y: auto;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f37979;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.logout a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logout a .icon {
    margin-right: 10px;
    font-size: 18px;
}

.logout a:hover {
    color: #ff6347; /* Màu cam khi hover */
}