body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
    height: 480px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.login-header {
    background-image: url('https://cafebiz.cafebizcdn.vn/thumb_w/640/162123310254002176/2022/8/30/avatar1661849911831-16618499136181069110525.jpg');
    background-size: cover;
    padding: 100px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 25px;
    opacity: 0.8;
}

.login-form {
    padding: 13px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.form-group label {
    width: 150px;
    text-align: left;
    margin-left: 35px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 430px;
}

.login-container button {
    background-color: #e4653c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 25%;
}

.login-container button:hover {
    background-color: #e7ad9a;
}

.login-container .forgot-password {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.login-container .forgot-password:hover {
    text-decoration: underline;
}
.error-message {
    color: red;
    font-size: 15px;
    margin-top: 5px;
}
